.logo {
    margin-top: 20px;
    width: 150px;
    height: 150px ; 
}

.heading {
    margin-bottom: 5%;
    font-size: 40px;

}

.button {
    height: 20px;
    width: 10%;
    border: 0.1px solid black;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 10%;
    text-align: center;
}

.button:hover {
    align-self: center;
    color: whitesmoke;
    background-color: black;
}

.braille {
    font-size: 50px;
}